<div class="banner">
  <h1> Elevate your <br> surrounding </h1>
  <h6> Everyday make your surrounding clean & green and make <br> mother earth a better place to live </h6>



<app-input-page></app-input-page>
  <div class="table table-dark">
    <table>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Site</th>
        <th scope="col">Sensor Name</th>
        <th scope="col">Type</th>
      </tr>
      <tr *ngFor="let item of all_wastes ; let i=index">
        <td scope="row">{{ item.number }}</td>
        <td scope="row">{{ all_sensors[item.sensor_id-1].site }}</td>
        <td scope="row">{{ all_sensors[item.sensor_id-1].name }}</td>

        <td *ngIf="item.number >= 1 && item.number<100">Metal</td>
        <td *ngIf="item.number >= 100 && item.number<200">Paper</td>
        <td *ngIf="item.number >= 300 && item.number<400">Glass</td>
        <td *ngIf="item.number >= 400 && item.number<500">Organic</td>
        <td *ngIf="item.number >= 500 && item.number<600">cardboard</td>
        <td *ngIf="item.number >= 600 && item.number<700">cans</td>
        <td *ngIf="item.number >= 700 && item.number<800">Aseptic cartons</td>
      </tr>


    </table>
  </div>


