<div class="hero">
  <div class="up" class="up" *ngIf="all_sensors[0] ">
    <h1>Name : {{ all_sensors[0].name }}</h1>
    <h1>Site : {{ all_sensors[0].site }}</h1>
    <h1>State : {{ all_sensors[0].state }}</h1>
  </div>

  <div class="table table-dark">
    <table>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Site</th>
      </tr>
      <tr *ngFor="let item of all_wastes; let i=index">
        <td scope="row">{{ item.number }}</td>
        <td>{{ all_sensors[0].site }}</td>

      </tr>
    </table>
  </div>
  <app-input-page></app-input-page>
</div>
